<%= simple_form_for @location, html: { multipart: true } do |f| %>
  <%= f.error_notification %>

  <%= f.input :description %>

  <%= f.label :photos %>
  <%= file_field_tag "images[]", type: :file, multiple: true %>
  <br>
  <div class="form-actions">
  	<%= f.button :submit, class: "btn btn-primary btn-md" %>
  </div>
<% end %>
