<% provide(:title, "Gallery") %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<div class="row">
  <ul style="list-style-type:none;">
    <% unless @photos.empty? %>
      <% @photos.each do |pic| %>
        <li class="span4">
          <div class="box">
            <%= link_to image_tag(pic.image(:medium)), pic.image.url %>
            <div class="caption">
              <% if current_user == pic.user %>
                <%#= link_to "Edit", edit_location_photo_path(@location, pic) %>
                <%= link_to "", location_photo_path(@location, pic), :method => :delete,
                    :data => { :confirm => "Are you sure?" },  class: "glyphicon glyphicon-remove-circle" %>
              <% end %>
            </div>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>

<%#= link_to '+Add', new_location_photo_path(@location) %>
<%= link_to '+Add', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
