<% provide(:title, "Gallery") %>
<p id="notice"><%= notice %></p>

<body class="show_page"></body>

<p class="location_title">
  <!-- <strong>Name:</strong> -->
  <%= @location.name %>
</p>

<div class="button">
  <%= link_to 'Add Photo', new_location_photo_path(@location), class: "btn btn-primary btn-md" %>
</div>
<p></p>

<div class="gallerybox">
  <ul class="grid">
    <%# unless @photos.empty? %>
      <% @photos.each do |pic| %>
        <li>
          <div class="box">
            <%= link_to image_tag(pic.image(:medium)), pic.image.url %>
            <div class="caption">
              <% if current_user == pic.user %>
                <%#= link_to "Edit", edit_location_photo_path(@location, pic) %>
                <%= link_to "", location_photo_path(@location, pic), :method => :delete,
                    :data => { :confirm => "Are you sure?" },  class: "glyphicon glyphicon-remove" %>
              <% end %>
            </div>
          </div>
        </li>
      <% end %>
    <%# end %>
  </ul>
</div>

<%= link_to '', locations_path, class: "glyphicon glyphicon-bigger glyphicon-arrow-left" %>

<script>
  $(window).load(function() {
    $('.grid').each(function() {
      $(this).gridEm( { minMargin: 25} );
    });
  });

  $(window).resize(function() {
    $('.grid').each(function() {
      $(this).gridEm( { minMargin: 25} );
    });
  });
</script>